*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body,html{
    width:100%;
    height: 100%;
    perspective: 200px;
}
body{
    /* perspective: 200px; */
    background-color: #4f9d0181;
    overflow-x: hidden;
}

#main{
    width: 100%;
    position: relative;
    filter: blur(10px);
    transform: translateZ(-50px);
    /* overflow: hidden; */
}
#top{
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

#bottom{
    width: 100%;
    height: 100vh;
}

#bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

#top{
    position: absolute;
    top:0;
    left:0;
    z-index: 5
}

#workingdiv {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

#workingdiv #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 30px 0;
}
#workingdiv #nav #navleft, #workingdiv #nav #navright {
    display: flex;
    align-items: center;
    gap: 2vw;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    pointer-events: all;
    /* letter-spacing: 0.1vw; */
}

#workingdiv #nav #navleft img{
    width: 7vw;
}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 8vh; */
}

#hero #heroleft {
    min-width: 50%;
    /* height: 300px; */
    /* background-color: red; */
}

#heroleft .h1s {
    height: 9vw;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}
#heroleft .h1s h1{
    position: absolute;
    top: 100%;
    left:0;
    line-height: 0.9;
    font-size: 11vw;
    font-family: 'Kajiro';
    font-weight: 100;

}
#heroleft .h1s h1:nth-child(1){
    top:0;
}

#heroleft button {
    color:black;
    font-size: 3vw;
    padding: 0.8vw 3vw;
    margin-top: 2vw;
    font-family: 'Kajiro';
    outline: none;
    pointer-events: all;
    cursor: pointer;
}

#heroright p{
    font-size: 14px;
    /* font-family: sans-serif; */
}

#hero #heroright {
    width: 17%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    /* background-color: green; */
} 

#heroright #imagediv {
    width: 100%;
    height: 150px;
    /* background-color: blue; */
    background: url('https://images.unsplash.com/photo-1611299081794-5965fc4d900b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470');
    background-size: cover;
    background-position: center;
    margin: 1.5vw 0; 
}

#heroright p:nth-child(4){
    /* color: red; */
    margin-top: 5vw;
}